.sidebar{
    background-color: $color-primary;
    grid-column:sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 4rem;
    color: #fff;
}

.header{
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
}

.footer{
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;
}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap:2rem;
    align-items: center;
    list-style: none;

    &__link:link,
    &__link:visited{
        display: block;
        padding: 1.5rem;
        transition: all .2s;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-display;
        font-size: 1.4rem;
        color:#fff;
        text-decoration: none;
        
    }

    &__link:hover,
    &__link:active{
        transform: translateY(-3px);
        background-color: rgba($color: #fff, 0.5);
    }
}

.copyright{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    font-size: 1.4rem;
    color: $color-grey-light-2;
}